<nav>
  <ul>
    <a
      ui-sref="app()"
      ui-sref-active="active"
      ng-click="$ctrl.closeLeftSidebar()"
    >
      <li>
        <icon src="'home'"></icon>
        <span>Home</span>
      </li>
    </a>
    <a
      ui-sref="search"
      ui-sref-active="active"
      ng-click="$ctrl.closeLeftSidebar()"
    >
      <li>
        <icon src="'search'"></icon>
        <span>Search</span>
      </li>
    </a>
    <a
      ui-sref="my-account"
      ui-sref-active="active"
      ng-click="$ctrl.closeLeftSidebar()"
    >
      <li>
        <icon src="'my-account'"></icon>
        <span>My Account</span>
      </li>
    </a>
    <a
      ui-sref="login"
      ui-sref-active="active"
      ng-click="$ctrl.closeLeftSidebar()"
    >
      <li>
        <icon src="'my-account'"></icon>
        <span>Login</span>
      </li>
    </a>
  </ul>
</nav>
