//----------------------------------------
//  views/searchView
//----------------------------------------

@import "../../../styles/abstracts/variables";

#explore-genres {
  margin-top: 30px;
  h1 {
    margin-bottom: 20px;
  }
  ul {
    list-style-type: none;
  }
}
