//----------------------------------------
//  views/searchView
//----------------------------------------

@import "../../../styles/abstracts/variables";

#search-form {
  margin-bottom: 30px;
}

#explore-genres {
  h1 {
    margin-bottom: 20px;
  }
  ul {
    list-style-type: none;
  }
}

.add-to-playlist-icon {
  cursor: pointer;
  display: inline-block;
  transform: translateY(6px);
  &:hover {
    filter: invert(30%);
  }
}

.stop-adding {
  margin-bottom: 15px;
  background-color: #e48282 !important;
}
