//----------------------------------------
//  musicPlayer
//----------------------------------------

@import "../../styles/abstracts/variables";

.control-button:hover,
.slider:hover {
  cursor: pointer;
}

.slider {
  position: relative;
  height: 5px;
  width: 100%;
  background-color: #6e6e6e;
  .slider-progress {
    height: 100%;
    background-color: $text-color;
  }
}

.range {
  appearance: none;
  height: 5px;
  width: 100%;
  background: #6e6e6e;
  // background-color: #eee;
  &::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 15px;
    width: 15px;
    background-color: $primary-color;
    border-radius: 50%;
    cursor: pointer;
  }
  // input {
  //   appearance: none;
  //   height: 5px;
  //   width: 100%;
  //   background-color: #ddd;
  //   border-radius: 5px;
  //   outline: none;
  //   border: none;
  //
  // }
}

.musicPlayer {
  background-color: $background-color;
  display: flex;
  gap: 15px;
  border-top: 1px solid $primary-color;
  height: 130px;
  justify-content: space-between;
  position: fixed;
  padding: 15px;
  left: 0;
  right: 0;
  bottom: 0;
  .left-panel {
    display: flex;
    width: 300px;
    .author-image {
      margin-right: 15px;
    }
    .author-details {
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 5px;
      .record-name {
        font-weight: 300;
      }
      .record-author {
        color: $secondary-text-color;
        .author-name {
          color: $primary-color;
          text-decoration: none;
          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }
  .center-panel {
    display: flex;
    align-self: space-between;
    flex-direction: column;
    justify-content: space-between;
    width: 800px;
    .controls-top {
      display: flex;
      justify-content: center;
      gap: 25px;

      .play-button {
        transition: 0.3s;
      }
      .play-button:hover {
        transform: scale(1.05);
      }
    }
    .controls-bottom {
      display: flex;
      align-items: center;
      gap: 10px;
    }
  }
  .right-panel {
    display: flex;
    align-items: center;
    gap: 10px;
    flex-shrink: 10;
    width: 300px;
  }
}

.circle {
  position: absolute;
  background-color: $primary-color;
  width: 15px;
  height: 15px;
  border-radius: 100%;
  transform: translate(-7.5px, -5px);
  cursor: default;
}
.draggable:active {
  cursor: grab;
}

.record-author,
.record-name {
  margin: 0;
}

.control-selected {
  filter: invert(42%) sepia(93%) saturate(150%) hue-rotate(87deg)
    brightness(119%) contrast(119%);
}

.volume-bar {
  min-width: 70px;
}

// .volume-bar-container {
//   display: flex;
//   flex-basis: 100%;
//   height: 100%;
//   align-items: center;
// }
