//----------------------------------------
//  musicPlayer
//----------------------------------------

@import "../../../styles/abstracts/variables";

.control-button:hover,
.slider:hover {
  cursor: pointer;
}

.slider {
  position: relative;
  height: 5px;
  width: 100%;
  background-color: #6e6e6e;
  .slider-progress {
    height: 100%;
    background-color: $text-color;
  }
}

.range {
  appearance: none;
  height: 5px;
  width: 100%;
  background: #6e6e6e;
  &::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 15px;
    width: 15px;
    background-color: $primary-color;
    border-radius: 50%;
    cursor: pointer;
  }
}

.musicPlayer {
  background-color: $background-color;
  display: flex;
  gap: 15px;
  border-top: 1px solid $primary-color;
  height: $music-player-height;
  justify-content: space-between;
  position: fixed;
  padding: 15px;
  left: 0;
  right: 0;
  bottom: 0;
  & > * {
    // flex-grow: 1;
    width: 100%;
  }
  .left-panel {
    display: flex;
    flex: 1 1 auto;
    min-width: 150px;
    gap: 15px;
    align-items: center;
    flex-grow: 1;
    .author-image {
      width: 130px;
      max-height: 100%;
      overflow: hidden;
      img {
        width: 100%;
      }
    }
    .author-details {
      display: flex;
      min-width: 0;
      width: 100%;
      flex-direction: column;
      justify-content: center;
      gap: 5px;
      & > * {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      .record-name {
        font-weight: 300;
      }
    }
  }

  .center-panel {
    display: flex;
    align-self: space-between;
    flex-direction: column;
    justify-content: space-between;
    max-width: 800px;
    .controls-top {
      display: flex;
      justify-content: center;
      gap: 25px;

      .play-button {
        transition: 0.3s;
      }
      .play-button:hover {
        transform: scale(1.05);
      }
      icon {
        display: flex;
        align-items: center;
        gap: 10px;
      }
    }
    .controls-bottom {
      display: flex;
      gap: 10px;
      align-items: center;
    }
  }
  .right-panel {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 10px;
    // flex-grow: 1;
  }
}

.circle {
  position: absolute;
  background-color: $primary-color;
  width: 15px;
  height: 15px;
  border-radius: 100%;
  transform: translate(-7.5px, -5px);
  cursor: default;
}

.draggable:active {
  cursor: grab;
}

.record-author,
.record-name {
  margin: 0;
}

.range {
  min-width: 70px;
  max-width: 200px;
}

@media (max-width: $breakpoint-sm) {
  .right-panel,
  .center-panel {
    display: none !important;
  }
}

@media (min-width: $breakpoint-sm) {
  .play-button-left-panel {
    display: none;
  }
}
