<audio
  ng-on-timeupdate="$ctrl.updateProgressBar()"
  ng-on-ended="$ctrl.onRecordEnded()"
  preload="auto"
  ng-ref="$ctrl.musicPlayerRef"
>
  <source src="" />
</audio>
<div class="musicPlayer" ng-if="$ctrl.$scope.recordsState.queue">
  <div class="left-panel">
    <div class="author-image">
      <img
        ng-if="$ctrl.$scope.recordImage"
        draggable="false"
        src="{{ $ctrl.$scope.recordImage }}"
        alt="Profile image"
      />
    </div>
    <div class="author-details">
      <h2 class="record-name">{{ $ctrl.$scope.recordTitle }}</h2>
      <h4 class="record-author">
        By
        <span ng-repeat="author in $ctrl.$scope.recordAuthors"
          ><a
            ui-sref="account-details({id: author.author.id})"
            class="author-name"
          >
            {{ author.author.artistName }}</a
          ><span>{{ $last ? "" : ", " }}</span></span
        >
      </h4>
    </div>
    <div class="play-button-left-panel">
      <icon
        width="70"
        class="control-button play-button"
        src="{{ $ctrl.centerButtonIcon }}"
        alt="{{ $ctrl.playButtonTooltip }}"
        tooltip="{{ $ctrl.playButtonTooltip }}"
        ng-click="$ctrl.playOrPause()"
      ></icon>
    </div>
  </div>
  <div class="center-panel">
    <div class="controls-top">
      <icon
        id="shuffle"
        width="18"
        class="control-button"
        src="random"
        tooltip="Enable shuffling"
        ng-ref="$ctrl.shuffleIcon"
        ng-click="$ctrl.shuffle()"
      >
      </icon>
      <icon
        width="18"
        class="control-button"
        src="previous"
        alt="Previous"
        tooltip="Previous"
        ng-click="$ctrl.playPrevious()"
      ></icon>
      <icon
        width="70"
        class="control-button play-button"
        src="{{ $ctrl.centerButtonIcon }}"
        alt="{{ $ctrl.playButtonTooltip }}"
        tooltip="{{ $ctrl.playButtonTooltip }}"
        ng-click="$ctrl.playOrPause()"
      ></icon>
      <icon
        width="18"
        class="control-button"
        src="next"
        alt="Next"
        tooltip="Next"
        ng-click="$ctrl.playNext()"
      ></icon>
      <icon
        id="loop"
        width="18"
        class="control-button"
        src="loop"
        alt="Loop"
        tooltip="Enable looping"
        ng-ref="$ctrl.loopIcon"
        ng-click="$ctrl.loop()"
      ></icon>
    </div>
    <div class="controls-bottom">
      <div class="current-time">{{ $ctrl.currentTimeString }}</div>
      <div
        class="slider"
        ng-click="$ctrl.changeTime($event)"
        ng-ref="$ctrl.timeline"
        ng-mouseover="$ctrl.showCircleTimeline()"
        ng-mouseout="$ctrl.hideCircleTimeline()"
      >
        <div
          ng-style="{ left: $ctrl.currentPercentage + '%' }"
          ng-ref="$ctrl.circleTimeline"
          ng-click="$ctrl.doNothing($event)"
          class="circle display-none"
        ></div>
        <div
          ng-ref="$ctrl.scrubBar"
          class="slider-progress"
          ng-style="{ width: $ctrl.currentPercentage + '%' }"
        ></div>
      </div>
      <div class="duration">{{ $ctrl.durationString }}</div>
    </div>
  </div>
  <div class="right-panel">
    <icon
      ui-sref="queue"
      class="control-button"
      src="queue"
      alt="queue"
      tooltip="Queue"
    ></icon>
    <icon
      ng-click="$ctrl.mute()"
      class="control-button"
      src="volume-mid"
      alt="volume bar"
      tooltip="Mute"
    ></icon>
    <input
      class="range"
      ng-ref="$ctrl.volumeBar"
      type="range"
      min="0"
      max="1"
      step="0.01"
      value="1"
      ng-model="$ctrl.mp.volume"
    />
  </div>
</div>
