<audio
  ng-on-timeupdate="$ctrl.updateProgressBar()"
  ng-on-ended="$ctrl.onEnded($event)"
  preload="auto"
  ng-ref="$ctrl.musicPlayerRef"
>
  <source src="" />
</audio>
<div class="musicPlayer">
  <div class="left-panel">
    <div class="author-image">
      <img draggable="false" src="assets/avatar.png" alt="Profile image" />
    </div>
    <div class="author-details">
      <h2 class="record-name">For A Better Day</h2>
      <h4 class="record-author">
        By
        <a href="#" class="author-name">Avicii</a>
      </h4>
    </div>
    <div class="play-button-left-panel">
      <icon
        width="70"
        class="control-button play-button"
        src="$ctrl.centerButtonIcon"
        alt="$ctrl.playButtonTooltip"
        tooltip="$ctrl.playButtonTooltip"
        ng-click="$ctrl.playOrPause()"
      ></icon>
    </div>
  </div>
  <div class="center-panel">
    <div class="controls-top">
      <icon
        width="18"
        class="control-button"
        src="'random'"
        tooltip="'Enable shuffling'"
        ng-click="$ctrl.playOrPause()"
      >
      </icon>
      <icon
        width="18"
        class="control-button"
        src="'previous'"
        alt="'Previous'"
        tooltip="'Previous'"
      ></icon>
      <icon
        width="70"
        class="control-button play-button"
        src="$ctrl.centerButtonIcon"
        alt="$ctrl.playButtonTooltip"
        tooltip="$ctrl.playButtonTooltip"
        ng-click="$ctrl.playOrPause()"
      ></icon>
      <icon
        width="18"
        class="control-button"
        src="'next'"
        alt="'Next'"
        tooltip="'Next'"
      ></icon>
      <icon
        width="18"
        class="control-button"
        src="'loop'"
        alt="'Loop'"
        tooltip="'Enable looping'"
        ng-click="$ctrl.loop($event)"
      ></icon>
    </div>
    <div class="controls-bottom">
      <div class="current-time">{{ $ctrl.currentTimeString }}</div>
      <div
        class="slider"
        ng-click="$ctrl.changeTime($event)"
        ng-ref="$ctrl.timeline"
        ng-mouseover="$ctrl.showCircleTimeline()"
        ng-mouseout="$ctrl.hideCircleTimeline()"
      >
        <div
          ng-style="{ left: $ctrl.currentPercentage + '%' }"
          ng-ref="$ctrl.circleTimeline"
          ng-click="$ctrl.doNothing($event)"
          class="circle display-none"
        ></div>
        <div
          ng-ref="$ctrl.scrubBar"
          class="slider-progress"
          ng-style="{ width: $ctrl.currentPercentage + '%' }"
        ></div>
      </div>
      <div class="duration">{{ $ctrl.durationString }}</div>
    </div>
  </div>
  <div class="right-panel">
    <img
      class="control-button"
      src="assets/icons/queue.svg"
      alt="queue"
      title="Queue"
      draggable="false"
    />
    <img
      ng-click="$ctrl.mute()"
      class="control-button"
      ng-src="assets/icons/{{ $ctrl.volumeIcon }}.svg"
      alt="volume bar"
      title="Mute"
      draggable="false"
    />
    <input
      class="range"
      ng-ref="$ctrl.volumeBar"
      type="range"
      min="0"
      max="1"
      step="0.01"
      value="1"
      ng-model="$ctrl.mp.volume"
    />
  </div>
</div>
