<separator
  text="'MY PLAYLISTS'"
  ng-click="PPC.shouldShowPlaylistPanel = !PPC.shouldShowPlaylistPanel"
></separator>
<loader ng-if="PPC.$scope.isLoading === true"></loader>
<nav id="playlists-panel" ng-show="PPC.shouldShowPlaylistPanel">
  <ul>
    <a ui-sref="add-playlist" ui-sref-active="active">
      <li>
        <icon src="add"></icon>
        <span>Add Playlist</span>
      </li>
    </a>
    <a
      ng-repeat="playlist in PPC.$scope.myPlaylists"
      ui-sref="playlist-details({id: playlist.id})"
      ui-sref-active="active"
    >
      <li>
        <div class="panel-playlist-image-container">
          <img
            ng-src="{{ PPC.filesService.PLAYLIST_IMAGE + playlist.imagePath }}"
          />
        </div>

        <span>{{ playlist.name }}</span>
      </li>
    </a>
  </ul>
</nav>
