<home-header></home-header>
<loader ng-if="!PDC.playlist"></loader>
<div ng-if="PDC.playlist">
  <div class="playlist-details-container">
    <div class="playlist-details-left box-shadow">
      <img ng-ref="PDC.playlistImage" src="" alt="Playlist image" />
    </div>
    <div class="playlist-details-right">
      <div class="playlist-title text-shadow">
        <h1>{{ PDC.playlist.name }}</h1>
      </div>
      <div class="playlist-subtitle">
        <img ng-ref="PDC.artistImage" src="" alt="" />
        <h2 class="playlist-h2">
          <a
            class="router-link"
            ui-sref="account-details({id: PDC.playlist.author.id})"
            >{{ PDC.playlist.author.artistName }}</a
          ><icon
            width="15"
            ng-if="PDC.playlist.author.verified"
            tooltip="Verified artist"
            src="verified"
          ></icon>
          <span class="opacity50"
            >&middot; {{ PDC.playlist.releaseYear }} &middot;
            {{ PDC.playlist.records.length }} records</span
          >
        </h2>
      </div>
    </div>
  </div>
  <div
    class="playlist-details-options"
    ng-if="PDC.playlist.records.length === 0"
  ></div>
  <div class="playlist-details-options">
    <icon
      ng-if="PDC.playlist.records.length > 0"
      ng-class="{
        'disabled-icon': PDC.isCurrentlyPlaying
      }"
      width="70"
      tooltip="{{
        PDC.isCurrentlyPlaying
          ? 'Already playing this playlist'
          : 'Play this playlist'
      }}"
      src="play"
      ng-click="PDC.onPlay()"
    ></icon>
    <div class="dots-menu">
      <icon
        class="dots-icon opacity50"
        width="30"
        tooltip="Options"
        src="dots"
        ng-click="PDC.shouldShowActionMenu = !PDC.shouldShowActionMenu"
      ></icon>
      <div class="action-menu box-shadow" ng-show="PDC.shouldShowActionMenu">
        <ul>
          <a ui-sref="search({add_to: PDC.playlistId })"
            ><li>Add records</li></a
          >
          <a ui-sref="search({add_to: PDC.playlistId })"
            ><li>Add to favorites</li></a
          >
          <a ng-click="PDC.onDelete()"><li class="error">Delete</li></a>
        </ul>
      </div>
    </div>
  </div>
  <table class="records-table" ng-if="PDC.playlist.records.length > 0">
    <thead>
      <tr class="table-head-row">
        <th><div class="table-index-container">#</div></th>
        <th>TITLE</th>
        <th>PLAYS</th>
      </tr>
    </thead>
    <tbody>
      <tr
        class="table-body-row"
        ng-click="PDC.onPlayRecord($index)"
        ng-repeat="record in PDC.playlist.records"
      >
        <td class="opacity50">
          <div class="table-index-container">
            <span
              ng-show="
                !PDC.isCurrentlyPlaying ||
                PDC.$scope.recordsState.index !== $index
              "
              >{{ $index + 1 }}</span
            >
            <span
              ng-show="
                PDC.isCurrentlyPlaying &&
                PDC.$scope.recordsState.index === $index
              "
              ><soundwave class="make-it-green"></soundwave
            ></span>
          </div>
        </td>
        <td>
          <span
            ng-class="{
              'make-it-green':
                PDC.isCurrentlyPlaying &&
                PDC.$scope.recordsState.index === $index
            }"
            >{{ record.name }}</span
          >
          <div class="record-authors">
            <span ng-repeat="author in record.recordAuthors">
              <a
                ng-click="$event.stopPropagation()"
                class="router-link"
                ui-sref="account-details({id: author.author.id})"
                >{{ author.author.artistName }}</a
              >{{ $last ? "" : ", " }}</span
            >
          </div>
        </td>
        <td class="opacity50">{{ record.plays | number }}</td>
      </tr>
    </tbody>
  </table>
  <h2 class="section-title" ng-if="PDC.playlist.records.length === 0">
    This playlist has no records yet
  </h2>
</div>
