//----------------------------------------
//  views/playlist-details
//----------------------------------------

@import "../../../styles/abstracts/variables";

.playlist-details-container {
  display: flex;
  gap: 25px;
  align-items: center;
  margin-bottom: 30px;
}

.playlist-details-left {
  max-width: 180px;
  max-height: 180px;
  overflow: hidden;
  img {
    width: 100%;
  }
}

.playlist-details-right {
  display: flex;
  flex-direction: column;
  .playlist-title {
    // font-size: 2.2em;
    font-size: calc(1em + 1.2vw);
    font-weight: bold;
  }
  .playlist-subtitle {
    display: flex;
    gap: 10px;
    font-size: 0.7em;
    align-items: center;
    .playlist-h2 {
      font-weight: 300;
    }
    > img {
      border-radius: 50%;
      width: 30px;
      height: 30px;
    }
    icon {
      margin-left: 3px;
    }
  }
}

.playlist-details-options {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  gap: 20px;
  icon {
    transition: 0.5s;
    &:hover {
      cursor: pointer;
    }
  }
}

.records-table {
  border-collapse: collapse;
  width: 100%;
  tr {
    width: 100%;
    align-items: center;
    display: flex;
    gap: 25px;
    padding: 10px;
    justify-content: space-between;
  }
  .table-body-row {
    transition: 0.5s;
    border-radius: 10px;
    &:hover {
      background-color: #eeeeee10;
    }
    td:nth-child(2) {
      margin-right: auto;
    }
  }
  .table-head-row {
    th {
      font-weight: 300;
      color: #eeeeee80;
      &:nth-child(2) {
        margin-right: auto;
      }
    }
    margin-bottom: 10px;
    border-bottom: 1px solid #eeeeee33;
  }
}

.opacity50 {
  // opacity: 0.5;
  filter: brightness(50%);
}

.record-authors {
  font-weight: 300;
}

.dots-menu {
  position: relative;
}

.action-menu {
  position: absolute;
  background: $background-color;
  li {
    white-space: nowrap;
    padding: 15px 20px;
    transition: 0.2s;
    list-style-type: none;
    &:hover {
      cursor: pointer;
      background-color: rgb(77, 112, 84);
    }
  }
}
