<h2 class="section-title">
  Recommended for you
  <icon
    width="15"
    src="'info'"
    tooltip="'Based on your last listens and what\'s popular today'"
  >
  </icon>
</h2>
<div class="playlists">
  <single-playlist
    image="'avicii.jpg'"
    title="'Stories'"
    details="{title: 'Stories', artists: [{name: 'Avicii'}]}"
  >
  </single-playlist>
  <single-playlist
    image="'avicii.jpg'"
    title="'Stories'"
    details="{title: 'Stories', artists: [{name: 'Avicii'}]}"
  >
  </single-playlist>
  <single-playlist
    image="'avicii.jpg'"
    title="'Stories'"
    details="{title: 'Stories', artists: [{name: 'Avicii'}]}"
  ></single-playlist>
  <single-playlist
    image="'avicii.jpg'"
    title="'Stories'"
    details="{title: 'Stories', artists: [{name: 'Avicii'}]}"
  ></single-playlist>
  <single-playlist
    image="'avicii.jpg'"
    title="'Stories'"
    details="{title: 'Stories', artists: [{name: 'Avicii'}]}"
  ></single-playlist>
</div>
<div class="see-more"><span>SEE MORE</span></div>
