//----------------------------------------
//  home-header
//----------------------------------------

@import "../../../styles/abstracts/variables";

home-header {
  display: flex;
  gap: 5px;
  justify-content: space-between;
}

@media (min-width: $breakpoint-sm) {
  hamburger {
    display: none;
  }
}

@media (max-width: $breakpoint-lg) {
  .get-premium-container {
    display: none;
  }
}

.hamburger {
  cursor: pointer;
}

.message {
  margin-bottom: 50px;
}

.get-premium {
  text-decoration: none;
  cursor: pointer;
  border-radius: 20px;
  padding: 8px 50px;
  border: none;
  color: $background-color;
  background: $primary-color;
  font-size: 1.3em;
  transition: 0.8s;
  box-shadow: 0 5px 15px 1px $background-color;
  &:hover {
    // background: rgba(0, 255, 170, 0.685);
    transform: scale(1.05);
  }
}
