//colors
$primary-color: #9ecfa7;
$background-color: #262626;
$text-color: #eee;
$secondary-text-color: #aaa;

//sizes
$music-player-height: 130px;
$sidebar-width: 300px;

// breakpoints
$breakpoint-lg: 1200px;
$breakpoint-md: 1024px;
$breakpoint-sm: 768px;
$breakpoint-xs: 480px;
