//----------------------------------------
//  leftSidebar
//----------------------------------------

@import "../../styles/abstracts/variables";

.left-sidebar {
  position: fixed;
  height: calc(100% - 130px);
  width: $sidebar-width;
  background: $background-color;
  overflow: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
  }

  nav {
    user-select: none;
    ul {
      list-style-type: none;
      li {
        display: flex;
        align-items: center;
        gap: 30px;
        padding: 15px 30px;
        transition: 0.3s;
        cursor: pointer;
        &:hover {
          background: rgb(27, 27, 27);
        }
      }
      a {
        font-size: 1.5em;
        text-decoration: none;
        color: #aaa;
        transition: 0.3s;
      }
    }
  }
}
.logo {
  user-select: none;
  display: flex;
  align-items: center;
  img {
    margin: 15px;
  }
}

.logo-text {
  cursor: default;
  margin: 0;
  color: $primary-color;
  font-weight: 400;
  font-size: 2.7em;
}
