<div class="left-sidebar">
  <div class="logo">
    <img draggable="false" width="60" src="assets/icons/logo.svg" />
    <h1 class="logo-text">Dasharoo</h1>
  </div>
  <nav>
    <ul>
      <a href="#">
        <li>
          <img draggable="false" src="assets/icons/home.svg" />
          <span>Home</span>
        </li>
      </a>
      <a href="#">
        <li>
          <img draggable="false" src="assets/icons/search.svg" />
          <span>Search</span>
        </li>
      </a>
      <a href="#">
        <li>
          <img draggable="false" src="assets/icons/my-account.svg" />
          <span>My Account</span>
        </li>
      </a>
    </ul>
  </nav>
  <separator text="'PLAYLISTS'"></separator>
  <nav>
    <ul>
      <a href="#">
        <li>
          <img draggable="false" src="assets/icons/add.svg" />
          <span>Add Playlist</span>
        </li>
      </a>
      <a href="#">
        <li>
          <img draggable="false" src="assets/icons/no-image.svg" />
          <span>Best of 2014</span>
        </li>
      </a>
    </ul>
  </nav>
</div>
