//----------------------------------------
//  recommendedForYou
//----------------------------------------

@import "../../../styles/abstracts/variables";

.playlists {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
