<h2 class="section-title">
  Recommended for you
  <icon
    width="15"
    src="'info'"
    tooltip="'Based on your last listens and what\'s popular today'"
  >
  </icon>
</h2>
<div class="playlists">
  <single-playlist
    ng-repeat="playlist in $ctrl.$scope.playlists"
    ng-click="$ctrl.onClick(playlist.id)"
    image="playlist.imagePath"
    playlistTitle="playlist.name"
    tooltip="playlist.name"
    author="playlist.author.artistName"
  >
  </single-playlist>
</div>
<div class="see-more"><span>SEE MORE</span></div>
