<home-header></home-header>
<h2 class="section-title">Log in</h2>
<form class="dform" ng-submit="LC.onSubmit()">
  <dinput
    id="username"
    icon="my-account"
    placeholder="Email or username"
    type="text"
    bindto="LC.loginModel.email"
    required="true"
  ></dinput>
  <dinput
    id="password"
    icon="password"
    placeholder="Password"
    type="password"
    bindto="LC.loginModel.password"
    required="true"
    min="6"
    max="15"
  ></dinput>
  <button class="dbutton" type="submit">Log in</button>
  <p>
    Don't remember your password?
    <a class="dlink" ui-sref="recover">Recover</a>!
  </p>
  <p>Don't have an account? <a class="dlink" ui-sref="signup">Signup</a>!</p>
</form>

<!-- <h2>log in with facebook</h2> -->
<!-- <button ng-click="authenticate('facebook')">Sign in with Facebook</button> -->
<!-- <h2>logout</h2>
<button ng-click="LC.logout()">Logout</button> -->
