//----------------------------------------
//  dasharoo
//----------------------------------------
@import "../styles/abstracts/variables";
@import "../styles/components/dselect";
@import "../styles/components/ddate";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700&display=swap");

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  cursor: default;
  user-select: none;
}

img {
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

a {
  text-decoration: none;
  list-style: none;
  color: inherit;
}

html {
  background-color: $background-color;
  background-image: linear-gradient(
    rgba(158, 207, 167, 0.2),
    rgba(52, 62, 41, 0) 85%
  );
  background-repeat: repeat-x;
  height: 100%;
}
body {
  font-family: "Roboto", sans-serif;
  color: $text-color;
  font-weight: 300;
}

.container {
  display: flex;
}

ui-view {
  margin: 0 $sidebar-width 130px $sidebar-width;
  padding: 30px;
  width: 100%;
}

@media (max-width: $breakpoint-md) {
  .right-sidebar {
    display: none;
  }
  ui-view {
    margin-right: 0;
  }
}

@media (max-width: $breakpoint-sm) {
  .left-sidebar {
    left: 0 !important;
    right: 0 !important;
    top: 0 !important;
    bottom: 0 !important;
    width: auto;
    z-index: 5;
  }
  ui-view {
    margin-left: 0;
  }
}

.display-block {
  display: block;
}

.display-none {
  display: none;
}

.record-author {
  color: $secondary-text-color;
  .author-name {
    color: $primary-color;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
}

.section-title {
  margin-bottom: 20px;
  font-weight: 300;
}

.see-more {
  margin-top: 15px;
  display: flex;
  justify-content: flex-end;
  span {
    cursor: pointer;
    color: $secondary-text-color;
    &:hover {
      text-decoration: underline;
    }
  }
}

.hide-sidebar {
  display: none;
}

.margin-left-0 {
  margin-left: 0;
}

.show-sidebar {
  display: block;
}

.margin-left-sidebarWidth {
  margin-left: $sidebar-width;
}

nav {
  user-select: none;
  ul {
    list-style-type: none;
    li {
      display: flex;
      align-items: center;
      gap: 30px;
      padding: 15px 30px;
      transition: 0.3s;
      cursor: pointer;
      &:hover {
        background: rgb(27, 27, 27);
      }
    }
    a {
      font-size: 1.5em;
      text-decoration: none;
      color: #aaa;
      transition: 0.3s;
    }
  }
}

.dform {
  display: flex;
  gap: 15px;
  flex-direction: column;
}

.dbutton {
  text-decoration: none;
  cursor: pointer;
  border-radius: 20px;
  padding: 8px 50px;
  border: none;
  color: $background-color;
  background: $primary-color;
  font-size: 1.3em;
  transition: 0.8s;
  box-shadow: 0 5px 15px 1px $background-color;
  &:hover {
    // background: rgba(0, 255, 170, 0.685);
    transform: scale(1.01);
  }
}

.text-shadow {
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.box-shadow {
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.router-link {
  &:hover {
    text-decoration: underline;
  }
}

.make-it-green {
  filter: invert(42%) sepia(93%) saturate(150%) hue-rotate(87deg)
    brightness(119%) contrast(119%) !important;
}

.disabled-icon {
  opacity: 0.5;
  cursor: not-allowed !important;
}

.table-index-container {
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.success {
  background-color: $primary-color;
}

.error {
  background-color: #e78471;
}
