//----------------------------------------
//  dasharoo
//----------------------------------------
@import "../styles/abstracts/variables";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700&display=swap");

*,
*::after,
*::before {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
body {
  margin: 0;
  padding: 0;
  cursor: default;
  user-select: none;
}

h1 {
  font-size: 2em;
}
h2 {
  font-size: 1.5em;
}
h3 {
  font-size: 1.17em;
}
h4 {
  font-size: 1.12em;
}
h5 {
  font-size: 0.83em;
}
h6 {
  font-size: 0.75em;
}

img {
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

html {
  height: 100%;
  background-color: $background-color !important;
  background-image: linear-gradient(
    rgba(158, 207, 167, 0.2),
    rgba(52, 62, 41, 0) 85%
  );
  background-repeat: no-repeat;
  // background-size: 100% 100%;
}

body {
  font-family: "Roboto", sans-serif;
  color: $text-color;
  font-weight: 300;
}

.container {
  display: flex;
}

ui-view {
  margin: 0 $sidebar-width 130px $sidebar-width;
  padding: 30px;
  width: 100%;
}

@media (max-width: $breakpoint-md) {
  .right-sidebar {
    display: none;
  }
  ui-view {
    margin-right: 0;
  }
}

.display-block {
  display: block;
}

.display-none {
  display: none;
}

.record-author {
  color: $secondary-text-color;
  .author-name {
    color: $primary-color;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
}

.section-title {
  margin-bottom: 20px;
  font-weight: 300;
}

.see-more {
  margin-top: 15px;
  display: flex;
  justify-content: flex-end;
  span {
    cursor: pointer;
    color: $secondary-text-color;
    &:hover {
      text-decoration: underline;
    }
  }
}

@keyframes rotate180 {
  0% {
  }
  100% {
    transform: rotate(180deg);
  }
}
