//----------------------------------------
//  quickPlay
//----------------------------------------

@import "../../../styles/abstracts/variables";

.artists {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
