<h2 class="section-title">Quick play</h2>
<div class="artists">
  <single-artist
    name="'Calvin Harris'"
    image="'calvin-harris.jpg'"
  ></single-artist>
  <single-artist
    name="'Calvin Harris'"
    image="'calvin-harris.jpg'"
  ></single-artist>
  <single-artist
    name="'Calvin Harris'"
    image="'calvin-harris.jpg'"
  ></single-artist>
  <single-artist
    name="'Calvin Harris'"
    image="'calvin-harris.jpg'"
  ></single-artist>
  <single-artist
    name="'Calvin Harris'"
    image="'calvin-harris.jpg'"
  ></single-artist>
  <single-artist
    name="'Calvin Harris'"
    image="'calvin-harris.jpg'"
  ></single-artist>
</div>
<div class="see-more"><span>SEE MORE</span></div>
